@model IEnumerable<Mission06_Holman.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h2 class="text-center">Joel Hilton Movie Collection</h2>

<div class="text-center mb-3">
    <a asp-controller="Movie" asp-action="AddMovie" class="btn btn-primary">Add Movie</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Category</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Copied to Plex</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@(movie.Category?.CategoryName ?? "No Category")</td>
                <td>@(movie.Edited ? "Yes" : "No")</td>
                <td>@movie.LentTo</td>
                <td>@(movie.CopiedToPlex ? "Yes" : "No")</td>
                <td>@movie.Notes</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@movie.MovieId" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@movie.MovieId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

